root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{home/dot_config/zsh/*,home/dot_config/zsh/**/*,home/dot_zsh*}]
mode = unix-shell-script

[home/*_gitconfig.tmpl]
mode = ini-file
indent_style = tab
