{{- $email := promptStringOnce . "email" "Email address" "$GITHUBUSER@noreply.github.com" }}
{{- $name := promptStringOnce . "name" "Full name" }}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[edit]
    command = "code"
    args = ["--wait"]
