{{- $email := promptStringOnce . "email" "Email address" "ascarter@users.noreply.github.com" }}

[data]
    email = {{ $email | quote }}
    name = "Andrew Carter"
    githubUser = "ascarter"

[edit]
    command = "code"
    args = ["--wait"]
